button
{
background-color: orange;
padding: 10px;
border-radius: 5px;
margin: 20px;
}

body
{
    background-color: #e3f2fd;
}

h1
{
color: purple;
}

#name
{
    font-family: Times;
    font-size: 18pt;
}

#one
{
    text-align: center;
    font-family: Courier;
}

img
{
  float: left;
  border: 1px lightblue;
  padding: 25px;
}

#bio
{
    border: 1px lightblue;
    padding: 40px;
    font-family: Courier;
}

.nav-link
{
    font-family: Times;
}

.centered {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 30pt;
  font-weight: bold;
}
