button
{
background-color: orange;
padding: 10px;
border-radius: 5px;
margin: 20px;
}

.navbar navbar-expand-lg navbar-light bg-light
{
    background-color: lightblue;
}

body
{
background-color: lightblue;
}

h1
{
color: purple;
}
